html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

.d-none {
  display: none !important;
}

#spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-search {
  margin: 0 auto;
  max-width: 1400px;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .main-search {
    padding: 50px;
  }
}

.main-search__inner {
  width: 100%;
}

.main-search__forms {
  display: flex;
  height: 50px;
  padding: 5px;
}

.main-search__forms form {
  display: flex;
  gap: 10px;
}

.main-search__forms input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 0 10px;
}

.main-search__forms button {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: blue;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .main-search__forms input {
    width: 250px;
  }
}

.main-search__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.main-search__item {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  flex: 0 0 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .main-search__item {
    flex: 0 0 calc(50% - 5px);
  }
}

.main-search__item img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.main-search__image {
  width: 180px;
  height: auto;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .main-search__image {
    width: 250px;
    height: 450px;
  }
}

.main-search__image #spinner {
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transform: translate(-50%, -50%);
}

.main-search__text {
  flex: 1;
}

.main-search__title {
  margin-bottom: 10px;
}

.main-search__cta a {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: blue;
  color: #fff;
}

.main-search__paginate {
  margin-top: 20px;
}

.main-search__paginate ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.main-search__paginate li {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: blue;
  color: #fff
}

.main-search__paginate li.active {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fff;
}

.main-search__paginate li.active a {
  color: #121212;
}

.main-movie {
  margin: 0 auto;
  max-width: 1400px;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .main-movie {
    padding: 50px;
  }
}

.main-movie__poster-with-description {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .main-movie__poster-with-description {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .main-movie__poster-with-description img {
    width: 100%;
  }
}